@font-face {
  font-family: "iconfont"; /* 必须叫 iconfont */
  /* 修正点：将 url() 括号内的所有内容保持在同一行，不要回车换行 */
  src: url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAWEAAsAAAAACxwAAAU4AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACDXgqIXIc4ATYCJAMcCxAABCAFhGcHXxulCREVpNWQ/Rxwm+kTi0i2WaRly5/NqfPnLbLIyt3dbxDR2mb33hxIYtGkErpoixcaodGblXY/vKe9YkpnoJiA5M7pqAM8EH8HKjz8c7i/r70AIwq4DbgxG9sy7Xhi8frfj+7Nu04HPkC/4WmLV9/b/+b3mW3XOEYhCmAAI5T/OZZ6SUdRfPe+XbpltJVFUukBHdjdIpI22sDGexMZT9C2iGdxocKU77n5GgQk1mAP5J67Lx34Z3GF2SANVGJekKtllpYSB9x9E68FLyJtgD01BXKHNPRGXgLg5b9f/sGYxA0oPwniTsdkt0QYe670so+CEigwL8C210R3V+ADA+ZHZpFzu8tCMirmXpVAvzPlCkAhooK30nOV52rPc1/eeNlHEJSbxawo5D944AkowyeQDFBVxrFPZXAlxZoJD18VEaRWowaUqnMpEwb/G0z4+PdJ7qEqtKcUoA0gGwB5gtDs/faYoTxCWlSpV+dhfxEBYxEpKUESn6xhDHZtkEZj918B9nIfguADV0ksoEUo1C2jriBhChkIpEPs0rKOC+gFK7+UC9gXgD2/OHsRu4ifpwYSoyyAveh5WjiyhL2JbeBr6HoiHcGH0OFV32RQxkB9IQdhXt0xZ97dsqSfP35lWoPVcU5MjX5524pB77yi1oZoZPXc1GayGF39+CePYiMF93Z3FU4Z39xB8K0tIG23veadcPqW55btEDgmhJDgSAvtR5gLzJ2KRvmWoqGM7W0am7W7S8OYOzufHRbau2Ya29ouEXFs0yKho42OoF1n2Od6sO6z+OnOCnxpDKjb8WUaDWzbmXMSLD726iSJA5tYQYQE8QHxa6G6dCRGBM+OY5cG9+nqv3Dk7EXnJroqm3vP9zk8kO7plx6T7u8x0mivOYaK/ghwWkwNIOTG/hp8XKGszIdqubRFOQq8dqymkqZCyM33QKHCl9qCUAI1o5olgfSLiw7Iuh6QcTVzk+mRIy5IRsqRPz1N0tUcTcvqtLvoQtr+No4Jv9wD/G37ztyc876iKx9x8EKC+bXS+oN7EDHJEPv5+srrZR52vZrBfW9lMmXczFxBouapv7FxgH/mmdYEe1vLGAvzaCuwtU+wCqdbuPB7Cyy5K5StWoTxQZ7Q/pHFalnlcovegi78MKKgadEaEeq1teoRGtEbiu/4iV9cHq2xARzYKhxpcEKY2yAy9iJn3OH/F+va66uKV18r2ocCdxJVOSGt4qgifUJl7DhPA5dQ4o/+TvUJ0G0qGnh/Te+wxAMxxVXXUSWxNfHD4j9GjqIQeeSHOGNVUeyBxNWgGgBwY8txiiOAQyknKOiM/nB5jCKPo5J4a1JgdgSB9F+wG2//sv4YAdtv3OkvI/o5yenjDYTDI0gm8C1WMxF95wNTKjgxLRXTMISpz0knbXIEKw9ZyOPrYiCRY/Al9zVwf3u6FneIqCTugQp1wYhMkB52Cr7UFgKRAyRm4HZ2qiXnLEUqj64vAqHmGxIqHpBU84NMYX8hreMPMmr+oaAfu8sVdcMeAkxCTZcndVaFlTb5dV/RXEcTmuKfCLGjUSqzopp9gSBs4oh4a6qUmDjoROfu3TCOSi5oD5uyNiW3z3OG3iWzOs0OAjASqJGLJ9KxlGDbPZV/3itoXI2MgER+OoLIhWx9UsoUCOSLSlBtj6QxumlUEkswwr1KNSHn9RwwypQiDt6pB1aSaddIOHs568ZYVbZ/zfQgr0CB+KBsJCIZqUhHJrKRk1kHqzW24SrSSbNuECBbNo/OSLmdEKNpsLllyQFpNgM=')
   format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 定义图标类名 */

.iconfont-qrcode:before {
  content: "\e8b8";
}

.iconfont-running:before {
  content: "\e625";
}

.iconfont-geren:before {
  content: "\e670";
}

.iconfont-faxian1:before {
  content: "\e621";
}

.iconfont-message:before {
  content: "\e8b1";
}

.iconfont-ticket:before {
  content: "\e623";
}