@font-face {
<<<<<<< HEAD
  font-family: "iconfont";
  /* Project id 5119551 */
  src:
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAnMAAsAAAAAEfQAAAl9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACFJAqTRJADATYCJANACyIABCAFhGcHgVIbTQ8jEWacFEH2lwnaZXI+s0KNEouoS3CPFpTD5dJ6or+FOVHsbcwX7hgzlBKCWst6aIEDiBqwPBAKGXZRUQ5dFL589ZIoqF/fz9NpvQmKmdZBBS+VTNLtgs6fO8/sOiiVpsbS0YrVGQkAhG0go74d793rOpaqLDbCdE3LXhKu+ZfxR5Je7rOUwmMsRvA8NWBfAAF/rf3qX9yrLXokenl3923Z/bL3sUNU2reEWGMIhUwW93hDIpIZpjOdntBtYl19c+UQE22E245VW1gLfDEinoIAPFrJgDUwfa4IbHZX79sBLnAo5gqYDBa7mzeuBgvfgTZECxyrpT1Se4mzwAV5yroLwBl/v3iHGGEBSIyC4lqD69PWwcVR+PkEG5kQgPoK1PqcsLUEDKCAxj0rFD/NZZ+BPSKNTD2pJ4dzAErLJA48/c34qMeo96jvqP9o4Ojc0ZfRMNYbuz/eNt778wmTyeg9qNiKl9gcsLEwhMT4+7meJMDFIcKz/nkICwoawP9DewxP0BVgwxMuwIInDwEGnrwFhPDkKy/H/MHxwQLBUWBzwRFgK8GRYLsgIIBnAcdldh8CHHhp40RgvVDxuGf1MDwtNKGRpQANgGqmgjcowvZQJZZNFBNht0k0boVo/wEiK7SxsLYLbZ0qcX6dfbQD191ySexwni7tAS4+hW1MhrOzHWbt1lqZRymDgdbpAEVjmIKfm6cSYljHKvr+ZerKA+beJXTx7kZ06R7z4Ap1+T599yJIKaOR0ethxbXePazKIppTNEaCRG23CIK500G136ZvtsLi1bVpYl0a2ZLaYMAlqPUmjtO326mOO8yttoNFzf2dfuuqi5v8xaL8pr6ewI11Zc0B5FEco5SaJjlgNdIGpx8CBz0ibBktxqUeH7KhlRjXloPkS9fJaQGppISZqhq+WKJi+OkKdHRHd9y26saVrjPoJa9HBXyRXL1Lb6YRkKoiqkFQ1BK4uitxZ11L867OhNqANSKkF+sZidGIkUfl1X48rlWN0wG1gtmza6/TH46mfjwOUjMaDLtBdPlPm1Xj30UwgXU9gYFC9uEjylq6mndIXqxWE46MRlN6IBcXkSvFVmyx0Ugw4tWWIJHOq3GMMUJnOECnWy1eSGLEUS7VgNuc7hoO0uuPSlz3eaiAQsq1bg+lIqwZBYDkuNVBjgbVfdbb0MPUCGGbj1ZSLQMH1bOvCUCNvadpSfqbMQn4mFQabWuTYJqeYhwIKaWZ16FGZ2gEpWHUAKqf3dlANdD1E46Jq6JcieqJ4b4HGS31mH6IHq0T4fQgGlr0gQOukQG3d+JksyHhqVuX9FBf3nQt8FlVx/cXNeqTr7Lir1CMlBS1h5AScUGffuMRanhvj9Ho+RPTbsDPhg5bd9atbFqkm6lL+wX2idqfmp4Zw+Rt0nC0VTybFUisv2bAJIo0GO6RKy1+GPcqVwrzyrSJUqUQ4aighqkrogqvj5J/9JYlnBt4HYIApKipE0qsb2WOcf1euL0d3S84F1SzJwpOT9QyzcA2y/rUJUcvH5t8VtYsru+Nzv53zuwTx2cpCRo+J+cpgKzl3Qnfr0UGPHWc+evST9O1s7X9dXWwdbtfWPvM9rSZqdaaoX4nPp8+bf+Bacz+aeuu04m5FWvTktel+i84mpv/coF3mFfs2uWpDffiehR3pGszUK/13LPLmCtgxbFNBd8FpXuiCEX8IrQOHrTY+Ha4IdKDFqY0rsy6Mr0OJChY3MRf4gu7xZtgtGBV0MGgi1iDPcWrnruBK7r4EOfacdbVeQNvg0K50XHDPRW1QSJ9+V+FGs6DeZ+uwhu++26fkTQzI1e7OTuOu3lP3Iz5mJFou8s2sSu3uTnhTTzhit2+OKg4Q1RH3u42lbfU9Z3vhhTSLtfuIUFQZt+hOcSe3O/099/NefyzMKD9+mHH029TL7wfi5euqbTxLfS1eeMa6/XF66qJUYGL56das4CJvU8qCxbd/djo5AOvByf5LU872DxyQA6PbBwOfmuw1Mhkc+bAWM627QBjo6kLO3LX71uTsioxcVXKmnGCoKC/7T5y4clpq456Fgeq1h88n1FsTs/h/yyT3f0uGCQhjdZy3gDvbJwkNlYSh+IeJI872xjpJXSXbCTdZc9OkHSSLEE8mrR6zr/vpLpOjRe7pAbPhcwfLkV9Lhdd+op6xlGJrAxhfCZxtpUyQbKVPpm+2dPaJ0TXnB8+WSJbLzaoCySpPHztWQO37h32Adlt0MGFaOH1u039Yue+6DTXIneT2mmZO+snaewW/6y4w6dCCkT2IfNTs9b+NX3B/LTemvabs5vCPPK+VK9NaDl0+stPcH7ukoxbp4+1Hp6RXhy0uPdb122u0+KngvDww1VMzIL522rkazPSklYmJqxIhrSutclLRYlTbGbb3p3uefjBMtcaQtmtnkp8cHic7c5suyk2UKrQ5hWBeQEnTwbkBa54TBAU9PlXBD4WdpU7LIuscLCInF3VYDba5P9fNjnZ7NU86dW/LVgo5Fvh4pvl61Lhe7Hc8oy5/eofffz6PaAwjrfw1V/418LXfK8HU0e8+Q8FXwv+GF7Ik+KH/xCkPhD818L1QZYCSL3FU3acPG6E7ZQ8YSpbeEbEvshGpn+MYVsAoLrlLyZsLmtibASQ0tOwQzXqJTZF6CLNqtIKU8obZWwPxtGOlDVAHZtMQMaf4634aNJdaZv234L4I2j8V1VNMDf9s5187nodOD+1slr+8VWXGTDo/nGXNkCi/y5cupLSwGOaTE4Ak9eWmoDAUtom8cpp8Gtblc4rYhl7JBNxKnoPS2wKsMKhHGn/emzwaccWDp3Yo4Fpx/tksAs2QlsCVPOphQUJaiyJuMGKhBtI+xuxIZsxbJHwH/YYF9Zn86ned+0+ITAmYvsprPRO0cq82DvUZQ7U1vyEFK01ivFgVO88Roe0in3im54wK6HIF+LIvR7muReBfIqSB4Y5bIZDJe0zkL6o7BMC97MmwvYzr5XeqdG5+vPuUJc5kBI9qRRtiRYvjA2MFOiYOpXbPRkZ3/QEk6pElxB1FMKRD0Zyr80LQW5JUSZlA2aJlrAxLEdTWjrYvqW42Sm3ncfi3ZIsRdV0w7Rs4bieL9vr5F4CX5cPaQX0Icc96EcDAXellVkgjBETphK7EnJ0CVBfGpRZVxMk5UIa9yWE1s5+GdvvbPelY7CumdtobGPrfdbakfQJtql0zjrd1Ejo2go+LLhxe/vKW0Bji7dUi1ypAAAA') format('woff2'),
    url('//at.alicdn.com/t/c/font_5119551_p7wu2tf5ni.woff?t=1769862027725') format('woff'),
    url('//at.alicdn.com/t/c/font_5119551_p7wu2tf5ni.ttf?t=1769862027725') format('truetype');
=======
  font-family: "iconfont"; /* 必须叫 iconfont */
  /* 修正点：将 url() 括号内的所有内容保持在同一行，不要回车换行 */
  src: url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAqwAAsAAAAAE6QAAApjAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACFUAqWIJIgATYCJANICyYABCAFhGcHgW4buhBRlFBWH9mXBbxhNPqFUG3kMp1eToi0NVEA9wbMt60Cw/pjYRs8+KGUUNSy9WzIl/+f5GL0CI9CCZTBaSxGY5OiEO7nH+fsp8JKUhX0Sts55p3CzCow9qBYYaq9W37uPNkcHaaluHSqtRN3Ftfyie1AVZhH+XaACn3WpnCQdmk68mrajYA6c+8VzAQ00WjEGyrFCtJgxUpQwvJvH1+Zn1eRX/7vA/7vfr/6RSN41C9Yope772NDhg8xfyTxd0gk72SyvSEqzUIiczidRkjUgm4T6+rTpUPMIgvZxg2zZxETn4i8DwLFPT3afP340lmtINQ5x3CaKnw6aw0OOpNlOmfgJyk5UPfNx+ECJswpPoA3/vV6GwMLDJ84Xeh5f2U6f5+DzwRbgL3anOuF9Q3wwILrgGXqZ5z3B9ILX3NSRNLsA+BYCPsrcDc3VCeUmobOejkOlH70Zd+Xw1+O/uizgTC009zk+HxfQJZEgwmHZzm9qhjRtOT856nCSEPSp6J+Ar7BlZF3FAUjgQaBEUFDwRhA1XBaoxowOlAdGB50PRgWNAcMB3oAcejxI2VUTh8hDgW/fYwRdBgMAzqKODT840jxdoGSsdp542OAB8CegefDsEn6M5wGGOB+AJExbUloGuKvwIylIhLgzw/hcyQcLovDU/DkYahkniBSyAz0U/L5qJhxTtX66x68KJFCwUc4ARE2aHAjvJnUek27IUSPLr+N0uS2dBUjPrP0pnk2jJoC4CSKktMIQsxYOAB2jWEYNdGDIBzq4VXAgM4HKJ98dA1hEtcf74SlGIcqR4j+e/+/zJ1eM/X4OnHtEfnACa8+tBFeL+l2AxiJIKWSzKxyGYIMWMyhBbIHLXARwUsWgQzC56M8HpB98yZk1y3uTnL4MBPsu+s1uz9gP1pwsNxwTMipDe9J7vCiZth7x8uXuddPDNyn7vYdr+oeHwwraK7u0hgNFV1jI7qitrpurcmGIkQZpaoEYL9EKPkEMOBTjEe5wvFSz05wyTKEyWPAku0FJaTUVEbIlpS3SIzmckqSWgpt+4Zj9jR32iqYDClph5USQ4ndT8/mkJrKq4gOaVWPLncofn9bT/eBwbhWbZ4BeoweyuzzISZbSXOYGErNKKltla5d23qLPLDeNEzMgHbKgSC3sSFN2poWzRBG6dpGdDoZ/eSpslayWXyipNpux0SUw1F7LBM1mHKMbLrR58Moo73ObCxGEcqnKu8ubneucbMJwWxMogPlxncJA3o8kUJOSwntFULVdogoz6KWpQAsQdmhlAPKHQq55DQxg/EqYA7RMxGqlmNdAOwcjadFGe9GzABDMkRyu7UYobQ0ogDLIBz/ptthAkkIB2UHYPvvxg6ig2z/MMSoROJC2I49dz1OuYhn5BP4tMCAkpNwqtjdThWuvbcfNXV740zD7gRDe33XTZ25vE2iMXR6EjM5TVNK6GGu6p9vMhsri+rqM8T04RGfL7gpqt+LJoYKEa65u4w0uFe7UyaBIBFB3LTUT5vumbw2XZSYBdDoyTJAKGHyem+QmVH9JMZSUibLqnPF55eXGlBY2UK1VRFXsietwpZnMSMHCzAMwNKWNpmZk5cZwly2QgV8clyaFMQRkDSU/PA6x4SXeWP2msg7o+ZMlBerbh/V02DNQlJ3YpVVb96yLC0hPVCqlR5YbCks3ptyeXnzVOCsA69Tg/+mY/aDSrCErzNuzlx4NBKnXcy5CHo6hKqVqutJC3BgUVaNKZ3KsSqlBagblGqoVjbA/WpB+5r1gFXGBIFOduDXgWznB2f1y9KVDel3BTAs+3fd2tMvrCkDsPu65W8BgPd8fNp26sEBeEsUo3Gnrkl1rXXJQjfYvTdsYf/q/pTVyZLigrDTr6SnHT2WRh1NG9dNx9Y35KckFiRrNtkyK97bFLrwwIFg16IQZlDQQKpLr+Wu4EMHDONps58vrvzOlBqs5qoX/yDonTzOKvoo3BoeRMqSOnOWXv8WgDg6sBSj76Gbr9nF4DXPMvf4XCcU6CtC2plWpsFpiBPtu6BSWMXW0rIikfWhNcJqznjvXSVUdzHY8Gzjoo7vvpvHNPn5mXIDFKIvA0K/uhP1mT6ed4AXr88N7nwVir3JNAa8epxwjIiUrIN95aEZqo/V1iQTP5P/BEAon/p5cxD94qNBjeYg49nPMgxE9T8ZeOvb5MuffBGbkdfIVQeouR+qokNe/aDpq8+lyuCXXH5a8+E3wSZLYBgdnnkc8vgMf85zQu5TIRQ+5QpP/9bh78DxdevAF8v37AXAaEjePJBZeCQvyRIfb0nK+xJAKOjPe8S0+UyaxRZcrSsvPH5JXz2HXCf5GccfVFROmkAK6K0XT4gvxJijo80xMMYhWcwFjTREFmguMgXib8eQI5aS5nK5DOURf9+fVCtjjcrkeevBkg+KV4rzlYPXQR3frHCiHFzgkNPGcHp1cPccB26fMjRLEU92aogSDlE+54NgFVjy4WcbgM/MPb4ZNeLxgJWv+u6TpqmqAmft8h2BtJ8yondplsacPDu/0iCYvzF5af5f6Zs2poy29N9Z27UwKOs1e35cz4lzr72ISuTb9HfPPd97clVq9dyto9+q9qjSYlcCGf7pxqioTRv3tJTk61MScuLjshNBij4/cbshfgV3Le9BevDJx/GZHMChXbtnxj8+mR58fy3/76iSijuzdVnaM2e0WbrsZwBCQZ85W/dMsGWJcEd4g5AVvsPS4fda4/9fkvhfd4d0fx1yzwMsevVVL91K7az3Pz9HUPDHmER9A3AlRrz5/SeL3pB9IAl5vHImVPJE+ob0j+nNYlHQ9B/SyMchkg9kYoDPOgEAs7j9iE7wAMiAcHExnY/wL+kzdHn4V/SVdNkOkO6kw9l/YDLpLHAKoy+h/TK7Nu4ROgRmPXQHfQGFXHUCO2WyVEkajCI+pNfRgyiDKsX1zsBuDcwzyViP18unr+bwUv6sOhqp/GpV7jj735tEprPppMmBk+ycQPAdBRio7m9fDnPu2xXgjrz31WHBzWSJ+0H6lqORM8i/xoByngRbb7K97zVdAua846RwLSxGdGCxkkO1019avOrREiRPluJKWvNqcUBfzDkXnHoJFhnZLUbvHVuR/jZ20Pss3sYXOED/n6V4CZzjVach/4IRBI16/1FBR7JIFr7QJ3SlAdarfkPOQSrVfnGEuvEGCdmOHfKnO4hYZTm26np+MWyaqBLHCrVsvEg6bsOtoh02OradCwwBuUc3lDw/CXfSImLlRfn9niCnaAAmqt84y7KDLVyJtFgEQX1DiNRvQKSHfXIOjjBuqStm1tBS0pcguFnURcoBcU0F6V3eRrGFmuQo/CxnpZKN90ltrifkuwFPrzEHmqycvIKikrKKqpo69Ro0BkEQBhH04AM2Zg2NLHaSa+CbtAlpsidqkCz7kNEBjKnBE1hnDwk/StB1YswZjXDBVT40SAZ4rT3qelXEYIop5MyJ0uhg+PVhPdkbCwkEGu4JXr3IIC/GenSQdTQ4PlSIArlhETLS2ArfAWg/3mt7DTgcHdmVonQ6")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
>>>>>>> 8b412f45b0ea83cbe9832aaa9bd0a75bdc4f4658
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
=======
/* 定义图标类名 */
.iconfont-shield-alt:before {
  content: "\f045";
}

.iconfont-id-card-clip:before {
  content: "\e8b6";
}

>>>>>>> 8b412f45b0ea83cbe9832aaa9bd0a75bdc4f4658
.iconfont-location:before {
  content: "\e64c";
}

.iconfont-people:before {
  content: "\e65f";
}

.iconfont-a-shapequickpressedtrue:before {
  content: "\e627";
}

.iconfont-calendar-check:before {
  content: "\f27e";
}

.iconfont-graduation-cap:before {
  content: "\e61e";
}

.iconfont-qizhi-:before {
  content: "\e60a";
}

.iconfont-mountain:before {
  content: "\e600";
}

.iconfont-lishi:before {
  content: "\e7ce";
}

.iconfont-book:before {
  content: "\e716";
}

.iconfont-qrcode:before {
  content: "\e8b8";
}

.iconfont-running:before {
  content: "\e625";
}

.iconfont-geren:before {
  content: "\e670";
}

.iconfont-faxian1:before {
  content: "\e621";
}

.iconfont-message:before {
  content: "\e8b1";
}

.iconfont-ticket:before {
  content: "\e623";
}