@font-face {
  font-family: "iconfont"; /* 必须叫 iconfont */
  /* 修正点：将 url() 括号内的所有内容保持在同一行，不要回车换行 */
  src: url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAqwAAsAAAAAE6QAAApjAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACFUAqWIJIgATYCJANICyYABCAFhGcHgW4buhBRlFBWH9mXBbxhNPqFUG3kMp1eToi0NVEA9wbMt60Cw/pjYRs8+KGUUNSy9WzIl/+f5GL0CI9CCZTBaSxGY5OiEO7nH+fsp8JKUhX0Sts55p3CzCow9qBYYaq9W37uPNkcHaaluHSqtRN3Ftfyie1AVZhH+XaACn3WpnCQdmk68mrajYA6c+8VzAQ00WjEGyrFCtJgxUpQwvJvH1+Zn1eRX/7vA/7vfr/6RSN41C9Yope772NDhg8xfyTxd0gk72SyvSEqzUIiczidRkjUgm4T6+rTpUPMIgvZxg2zZxETn4i8DwLFPT3afP340lmtINQ5x3CaKnw6aw0OOpNlOmfgJyk5UPfNx+ECJswpPoA3/vV6GwMLDJ84Xeh5f2U6f5+DzwRbgL3anOuF9Q3wwILrgGXqZ5z3B9ILX3NSRNLsA+BYCPsrcDc3VCeUmobOejkOlH70Zd+Xw1+O/uizgTC009zk+HxfQJZEgwmHZzm9qhjRtOT856nCSEPSp6J+Ar7BlZF3FAUjgQaBEUFDwRhA1XBaoxowOlAdGB50PRgWNAcMB3oAcejxI2VUTh8hDgW/fYwRdBgMAzqKODT840jxdoGSsdp542OAB8CegefDsEn6M5wGGOB+AJExbUloGuKvwIylIhLgzw/hcyQcLovDU/DkYahkniBSyAz0U/L5qJhxTtX66x68KJFCwUc4ARE2aHAjvJnUek27IUSPLr+N0uS2dBUjPrP0pnk2jJoC4CSKktMIQsxYOAB2jWEYNdGDIBzq4VXAgM4HKJ98dA1hEtcf74SlGIcqR4j+e/+/zJ1eM/X4OnHtEfnACa8+tBFeL+l2AxiJIKWSzKxyGYIMWMyhBbIHLXARwUsWgQzC56M8HpB98yZk1y3uTnL4MBPsu+s1uz9gP1pwsNxwTMipDe9J7vCiZth7x8uXuddPDNyn7vYdr+oeHwwraK7u0hgNFV1jI7qitrpurcmGIkQZpaoEYL9EKPkEMOBTjEe5wvFSz05wyTKEyWPAku0FJaTUVEbIlpS3SIzmckqSWgpt+4Zj9jR32iqYDClph5USQ4ndT8/mkJrKq4gOaVWPLncofn9bT/eBwbhWbZ4BeoweyuzzISZbSXOYGErNKKltla5d23qLPLDeNEzMgHbKgSC3sSFN2poWzRBG6dpGdDoZ/eSpslayWXyipNpux0SUw1F7LBM1mHKMbLrR58Moo73ObCxGEcqnKu8ubneucbMJwWxMogPlxncJA3o8kUJOSwntFULVdogoz6KWpQAsQdmhlAPKHQq55DQxg/EqYA7RMxGqlmNdAOwcjadFGe9GzABDMkRyu7UYobQ0ogDLIBz/ptthAkkIB2UHYPvvxg6ig2z/MMSoROJC2I49dz1OuYhn5BP4tMCAkpNwqtjdThWuvbcfNXV740zD7gRDe33XTZ25vE2iMXR6EjM5TVNK6GGu6p9vMhsri+rqM8T04RGfL7gpqt+LJoYKEa65u4w0uFe7UyaBIBFB3LTUT5vumbw2XZSYBdDoyTJAKGHyem+QmVH9JMZSUibLqnPF55eXGlBY2UK1VRFXsietwpZnMSMHCzAMwNKWNpmZk5cZwly2QgV8clyaFMQRkDSU/PA6x4SXeWP2msg7o+ZMlBerbh/V02DNQlJ3YpVVb96yLC0hPVCqlR5YbCks3ptyeXnzVOCsA69Tg/+mY/aDSrCErzNuzlx4NBKnXcy5CHo6hKqVqutJC3BgUVaNKZ3KsSqlBagblGqoVjbA/WpB+5r1gFXGBIFOduDXgWznB2f1y9KVDel3BTAs+3fd2tMvrCkDsPu65W8BgPd8fNp26sEBeEsUo3Gnrkl1rXXJQjfYvTdsYf/q/pTVyZLigrDTr6SnHT2WRh1NG9dNx9Y35KckFiRrNtkyK97bFLrwwIFg16IQZlDQQKpLr+Wu4EMHDONps58vrvzOlBqs5qoX/yDonTzOKvoo3BoeRMqSOnOWXv8WgDg6sBSj76Gbr9nF4DXPMvf4XCcU6CtC2plWpsFpiBPtu6BSWMXW0rIikfWhNcJqznjvXSVUdzHY8Gzjoo7vvpvHNPn5mXIDFKIvA0K/uhP1mT6ed4AXr88N7nwVir3JNAa8epxwjIiUrIN95aEZqo/V1iQTP5P/BEAon/p5cxD94qNBjeYg49nPMgxE9T8ZeOvb5MuffBGbkdfIVQeouR+qokNe/aDpq8+lyuCXXH5a8+E3wSZLYBgdnnkc8vgMf85zQu5TIRQ+5QpP/9bh78DxdevAF8v37AXAaEjePJBZeCQvyRIfb0nK+xJAKOjPe8S0+UyaxRZcrSsvPH5JXz2HXCf5GccfVFROmkAK6K0XT4gvxJijo80xMMYhWcwFjTREFmguMgXib8eQI5aS5nK5DOURf9+fVCtjjcrkeevBkg+KV4rzlYPXQR3frHCiHFzgkNPGcHp1cPccB26fMjRLEU92aogSDlE+54NgFVjy4WcbgM/MPb4ZNeLxgJWv+u6TpqmqAmft8h2BtJ8yondplsacPDu/0iCYvzF5af5f6Zs2poy29N9Z27UwKOs1e35cz4lzr72ISuTb9HfPPd97clVq9dyto9+q9qjSYlcCGf7pxqioTRv3tJTk61MScuLjshNBij4/cbshfgV3Le9BevDJx/GZHMChXbtnxj8+mR58fy3/76iSijuzdVnaM2e0WbrsZwBCQZ85W/dMsGWJcEd4g5AVvsPS4fda4/9fkvhfd4d0fx1yzwMsevVVL91K7az3Pz9HUPDHmER9A3AlRrz5/SeL3pB9IAl5vHImVPJE+ob0j+nNYlHQ9B/SyMchkg9kYoDPOgEAs7j9iE7wAMiAcHExnY/wL+kzdHn4V/SVdNkOkO6kw9l/YDLpLHAKoy+h/TK7Nu4ROgRmPXQHfQGFXHUCO2WyVEkajCI+pNfRgyiDKsX1zsBuDcwzyViP18unr+bwUv6sOhqp/GpV7jj735tEprPppMmBk+ycQPAdBRio7m9fDnPu2xXgjrz31WHBzWSJ+0H6lqORM8i/xoByngRbb7K97zVdAua846RwLSxGdGCxkkO1019avOrREiRPluJKWvNqcUBfzDkXnHoJFhnZLUbvHVuR/jZ20Pss3sYXOED/n6V4CZzjVach/4IRBI16/1FBR7JIFr7QJ3SlAdarfkPOQSrVfnGEuvEGCdmOHfKnO4hYZTm26np+MWyaqBLHCrVsvEg6bsOtoh02OradCwwBuUc3lDw/CXfSImLlRfn9niCnaAAmqt84y7KDLVyJtFgEQX1DiNRvQKSHfXIOjjBuqStm1tBS0pcguFnURcoBcU0F6V3eRrGFmuQo/CxnpZKN90ltrifkuwFPrzEHmqycvIKikrKKqpo69Ro0BkEQBhH04AM2Zg2NLHaSa+CbtAlpsidqkCz7kNEBjKnBE1hnDwk/StB1YswZjXDBVT40SAZ4rT3qelXEYIop5MyJ0uhg+PVhPdkbCwkEGu4JXr3IIC/GenSQdTQ4PlSIArlhETLS2ArfAWg/3mt7DTgcHdmVonQ6")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 定义图标类名 */
.iconfont-shield-alt:before {
  content: "\f045";
}

.iconfont-id-card-clip:before {
  content: "\e8b6";
}

.iconfont-location:before {
  content: "\e64c";
}

.iconfont-people:before {
  content: "\e65f";
}

.iconfont-a-shapequickpressedtrue:before {
  content: "\e627";
}

.iconfont-calendar-check:before {
  content: "\f27e";
}

.iconfont-graduation-cap:before {
  content: "\e61e";
}

.iconfont-qizhi-:before {
  content: "\e60a";
}

.iconfont-mountain:before {
  content: "\e600";
}

.iconfont-lishi:before {
  content: "\e7ce";
}

.iconfont-book:before {
  content: "\e716";
}

.iconfont-qrcode:before {
  content: "\e8b8";
}

.iconfont-running:before {
  content: "\e625";
}

.iconfont-geren:before {
  content: "\e670";
}

.iconfont-faxian1:before {
  content: "\e621";
}

.iconfont-message:before {
  content: "\e8b1";
}

.iconfont-ticket:before {
  content: "\e623";
}
