@font-face {
  font-family: "iconfont"; /* 必须叫 iconfont */
  /* 修正点：将 url() 括号内的所有内容保持在同一行，不要回车换行 */
  src: url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAi4AAsAAAAAEEwAAAhoAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACEeAqQaI1qATYCJAM4Cx4ABCAFhGcHgT4b7A0jEWZ0FED2lwm2AUt/tFYgk5hOW1nBQBq32OXuKiDVROGFG57u8PRXXIjbjcvg4DNDKeGp9mNvd+++GKZJtYt2pjOEpCFaItEJzULRinexhmci8/9/3PRvFui6pHWkovjEKCsTkxDouorRmbN+dsbL/x42rxtQl6nppwECwv6CHYMMvZcqzQfOcx/wf3GuEISuMEM5++TRZ2kKg7SXpk9XS2dTXWhFkynN4c1+S3LcpVxCbd218ehoWqsOhGYYz3iMVug2kV19c6WISVcmsc2ja6AS850RcR0ESBgxQecmz6TAZTlm/Urw4UjGCkwqy/KSxBhwtF04hY8Q2QLptk4qO8GD7vQ4CcAufb/8gjJHQPEGyYkW9JPiYe9jeL8FR/YMewFmfc2wvAIeMGBgzyLkTh13AXiDBggnXE0Oe6BVpf1XZB/wmHgcIJiYlNzqBZ9+Wvu05f0W+yjal0xOaE3/zQOPw0jJiRESQgIyIhQkAOBMlx/l5/ABuREePggjHHwEUCwkwaCkIGJwyxEpKDGIHBQBWQ0jEvgUUEIip2FEAF+1lAykBTFE3Ic86qAAFMhpBe1GuXPAliBRLENJwVBEz1MccQs5+xDS2EHwe90He3D9A59KN4LnUocs5hu7Kmu8vd0wZ78RQ7/MqmprkMQXZ1dKNVR6ZWuzPLEsr0pGGwmMSSUINhk4NR9DsGeBg86RruYLGJc5v8mFTcW4rhyUvDA+mRXQqYxwTFoJX6NNM/NHpSDjyibV8uKKlb5PR1ByOcrgU8kWkjTbBHRaFmMVZFXLYxrVq8qqq1Y3hJbKYil0SXPJrL1yBaONycUSnuYrJlhZqWD69NLD7IX1oRIeB1nMNgw7QjZKJ00rkTaSZnlZs1wuxJN+Sy1li3mbkrMtFtLTbLPlbgwjKDpK44RrrlwhzZrVRiPqoicTmPkKRZfXu3gxRjOXxkgjl7ESLixygIMuXToqZt0HYWSZjG/ZWiaNdDanAJRMOB1kb9DeIMGF7WK6Sdd0FMVUtx9UydZKgCpaTtO0tFVhWiAxHdfbsj7CJCU1BJA6xjavy4LOUA3GZrYAVD670MpY2fIJxTRthk9E5WS9ocF8gTnPnkXn4imC7UCdi16y3Xeg7Pgqgq66HEo3XRxKledXHpJr08r4Uqri0rCr7JSmCGpqs+r60FpNRqt88W6ma13zlSuBRcq6y8TZEGELTjs2jqUuTr04sgPsE3Y/NSVHd9HH6cvGQeZsJiDNpWsGCmboy5cvEKbLPquKTk4VhuddUMelpVAEyigxl2UxmdfnEdKN7Mm9wEH7TpEkoJSSMqHW2XzmAMZl9p8m3N3YNsG5wLY9cRLsJCbP1r7NuFZLztFzx8adlV/NLm+p6TA4Jt4bqB8YwAqHV0SNPTC9AITiEL2YuEXMzaMWQzMlWmFQ7MU8+ISgcq6eS+2l4kArd/p663n6lNRET/0p/SC9VnfrZhu6Og9mnZ/d3/rqFfZJOzjQMX7enk/9gp8dVT4arXZd7aoeXSscfRZMXuVq/P42CPYxaGT4mtq0YJ3vfbF+OO0W5nZWkNH64eLnwyHk99MNUukazvn3QoGy7mz9tZcj9jx4MkQXW+gi9hO73PUNCfr7TtGzxwKfwD8uOMi0667CnGh/CY62ngk6s5Xuc7uHyzkP5HHOxWPLJ2tsM5lmzIAn45evANBQI+bWhyWsjx0erVZHD499CgA0zPtdT8/dOinaGJgtT0sw7B6d3ZOdwX9vMp1Mz+igYSTU5PPaeTtV2pAQrQqpDhRV7ezVDBL6axNpf9P1E8SeJKuCetO1D/j9xAjfiUM0PiN6z4Qxd3yyWn32+rRmFaYm2pSH2D87O1qUiWF1Z6tJnh1YIme0LT4hGcuQbW8P+4Dl4p3vBHbAbevqMmDqVhjmIofX5jfx7537fJN8s/ztlsZF/j3e6UKWSseqkrb1yaDc+8weMTbu2+Q5s0e2lNQdnV7ZLyD8H0tcaPWm7f/8TvC9Fow+tn1zTdKUUdmK+S0vfZf7ThoyEYSmh7OVyv+HWF6SHDd65NAodWjkMBg5Om7YQko9wWW668nJgUln1GHO4NwjTw5Tn0l69ndiutsEFwjC0ZJIebhs61ZZuDzyvCChYU4cKT/PrJnssWhggYfjwEXRVodmif8/TP95VVDV86DyrOCII3GBj3is2KdAvDe/146e7vFfWuu6F4BMFW/u7bP9/xPe4QedmdgdzD8r+E/wpWuBxwV0fREozwTx7wjvSQpMP4HyWRNxIZQo9uLIDu9xRwBsUj/M6HvM6gDlpWx4X0nJfTgDlHsJj23jAlXI3fLwAJLSmiYHtmkfzfRftxya7+qKch35F+n3L/O9cMFmonbbCeOul/+T4cXcP1vMIhcUIq2F6VC4DzmXswKBeti5NuAq7WtRFmyIcxRI0mHwV5ZU7W1buCbAlChq8ZZKCWlRGRFtYifvU3lSxlQBEeOqhH7zO6fUWAcccb0AumyPVEKlfZVScIyMk18iB/m9ylPvEwWQ/6sSZtHd748kCx+FQMma+c9ETOxkU3L3jXzdQIayv0hKtEwztH238JWYZBUblG8/qjrjJO3mxTwZbVsyWdJCqG1QzVPXOW6DFtN+9EgQoKWuZcz+QkcoYa53bf+8N8SrNkCE4q8YUXRWc98YtHqB+BWzqNU9qVl880aqxTgmR6IV7IwXGwxtVl5iZD5nQTCIa4UlcrJJl/bmpLjdvnW/yTG3XZvJ1ypygqTRGUwWG3EoLs+Ea0qATIcacc1CpZBVqfSAsBFbkAYD4frgBWwFvXgf3CDki0P8D7G52lNlhcjnWywhns0prRcHwWTpUipzZH/uSYgvHfxG4OFyX3kOeLrQLaWSHh0BAAAA")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 定义图标类名 */
.iconfont-a-shapequickpressedtrue:before {
  content: "\e627";
}

.iconfont-calendar-check:before {
  content: "\f27e";
}

.iconfont-graduation-cap:before {
  content: "\e61e";
}

.iconfont-qizhi-:before {
  content: "\e60a";
}

.iconfont-mountain:before {
  content: "\e600";
}

.iconfont-lishi:before {
  content: "\e7ce";
}

.iconfont-book:before {
  content: "\e716";
}

.iconfont-qrcode:before {
  content: "\e8b8";
}

.iconfont-running:before {
  content: "\e625";
}

.iconfont-geren:before {
  content: "\e670";
}

.iconfont-faxian1:before {
  content: "\e621";
}

.iconfont-message:before {
  content: "\e8b1";
}

.iconfont-ticket:before {
  content: "\e623";
}
