@font-face {
  font-family: "iconfont"; /* 必须叫 iconfont */
  /* 修正点：将 url() 括号内的所有内容保持在同一行，不要回车换行 */
  src: url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAhoAAsAAAAAD7gAAAgZAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACEYgqQDI0oATYCJAM0CxwABCAFhGcHgSQbdg0jERakOLJ/HsbGysdGsERypXo9xWIRztSP88rXS3dNHYn/eSglD/9/tO5rXS1cKcz34x3PChMJo0DXEdhohEdnF/g/j5v2IlCaYFKXaY2JSQh07USVnzsPm9eNUpepOUtzticUOsIU5eyTR/3pNQeFpMtlqB5hHGjy8q7W1AZdSqCbubKrN/sYuAtcUqZLCsyOxldHF5hdXOvqOzWuRrvqNhGvjkBXigyRjmxIm/cZFhY/cWJEPEUAFV30ga/fRzEgPeCqJeCCVM0OMG4YhzR3OohCJ9ISEERWofbIXCC2EwQgc8JPAjjTz8c/hIUIIEOQhepamzmDZ8Hex/B+C4HsCCD7Adz6umDrDJAHssBkz5Li3Z7xhhiaJoQpqSVpJ9AjN/7kL3hMPfZ47P3Y97H/42VPtE9OP6182vB+iz0BuS/VQoJL/U8eyCHgKGIijoQEaA4wEAUArrlDLizxCzpULiMUqCyIB6gMiDfMbMQXwnLEH1QJZBniKYNvLVUgchrx5MFPJVUFaUCaojtOhHQf4brDekDfq/MEkJ1BpdsDy8JhHTeO5MguRsJgQ0oTrOiqFLgLXeRySk3W9gBHvWWNycJUzs5yTOLWZSOFcQkUxccB8fB7UfxZINE5Wma5gAm48+ukfAImkJEobtKsOF7LJnC6von5GoMx0aLpHY82LqmLWJRXUupvaPGKK0LJGibOStMWm5ZNTOWKtanlgdNr9UsLy8uW1UQVBMxg0CXDJYvxyhWM3RiX56fGWnkUH1CgHTGi4DC/YXnVT00iq8WGYUfoWv/Bw/P9a2lLYGF9YKCOWL8hoYDPU6+LS7NaaZXFZstYE00x7FSDmDBcuUJbDKtNRcxFz6UwyxVTXN7r4sXphnEsRm8UcMWUlFcGJLp06ai4dZ+HC0jhXAtXcIm0xBIPUBwlPsiRgO8zW8q3ce20LAlN5cqbD6p6YylAJQ2naUmayjAj0JhJGmmhacI01Q0UPJg427xOKzpDzTibxQpQ0eyKYq6YLxpTzMA5ORsV0YN911oucOf5s+jcLIbiW1Droh/S7No54PhSii27HMXWXezGFGWVHgo0JhZq/JmSS90NTFKpf7yiuTG1KoQ1GpIb9Ru3c20r669c8cwNq7pMnQ0Ftu7wY/155uKwi71awD5hxamp3qeNPc5e3jiVO5tZyHDpmgHCOfby5XtEm9LORkyLS9DFZF7Qz0yMZyiUnG8pTOVSrs8HJG3kT+4FEu07RdPwH59fqDNKLGcOYAJu/2lKIeebtOcC2/bEQfHjtExb8zYzGq3pRy8cm3BW1k0raogi4G8edYsa10mZB8NF04LWBu3FGsRAryLBHAGzl4lzLdnp6jxHPSc+Ya5qzqk5XeYYTbducmBTNYw+P6Zj8atXekZWKGSnuzmrnrp5Pzsa9qiPXrZMpu9T2xx95k1fFRjc/lmrOEOXXjHLKxO9Ta73fef0YOXR8rOABBp9h9ch/I/TNf7+y8nz73U0tFVnq6+97LnnwZNI04wcqa+br/Sua7jXP3dynz3Wunj+eUEYYFx5FcZOc/cj0NYzXme20ltuV0rPKZHynFS55VNx2szmkSPhyYBFiwEMTM9x1dGzV83oMU2vn9ZjxlNAAqG/7Sp23NbB0zZ6pgUmzl67u0+aAz9S895sPpmU3MJCL6jIUjerd0YYw8ONESjiQtGInUZzL527cS7rbr5+gviTZAmikUz8nN9P9HQdFGlw6Rk8CvrecUltdNnr0pjalYep5kxkY7OLM001C7zraDTrSz2fjwQdo0uo+nFk3WtgF/BSpuSOZwPcunJQC8ztQWvHgamb3Ab9s3Ofb7Brqrvd6hTrjr8zhS/w7xexfltIMqMIGdOz38xvQ8aO6dWQX3V0RGkHj5h/rTOjytdt//cPSuM0sc+x7Zsq1g/tnRY0oeGl6yLXwZGDQGd+OCYs7P89FuXHzezTq9tUfdSU7tCrz8zukxj9QOkI2ckhnuvP6KMl8IR3cqP1Z9aP1BMj5O89AQg0f0pgTMDWrQExgVPOAxIIff4pgeeFXeOUfLGds5WizrHTioXDTX5/6CF/XuZV9tyrd1sQZZFvtotvP1+XbN+9WY47HBSzvjxrmveAlKl63O2zHf/X3dF4nRnU7q05q/1f+6VtnFoKafui1Z/x0tzR3RHMXyEhYi+B7D/I5wkRANkZ/iFZqlmASSuAdClsRKim+j6CA0h7CffjONsWcTcyCQ9CapubSSCOdjtw5P+vrWBbPrpsqqzXJxH9m1b8mUMfImr/sR2zYL0uJbgqI8C/VVqsACyKHz3lhdRzn2Ezq0RWu9kHOO32NejrEEeWASr1FPD3lNNxezu27lc2LYiYGKAMB64oS8RHmdOGoDxaGCoQ6Y0qQg0+vkplGRCwnCOAsT9bCCNnRTipRkSQO6IktVeQgNYTJCT3C1H2s/F0NlpAuBclNOqhO0Jywh5WI08/KWwn1Gmlv6Q5STE0Zd2s+CAmXcU+eRdaMw9eZYZ3/3o0TQKLykDOymi2rKvKS/uUTubVC0WQ9WL2QOeYMHEE8yMb/32fSLA1QapU/qap7PKO56BRqhXKD8yqHvekebYTtMxJ86BjUqd8Bt5DENMUuAVYZDYgLssoxSXYYq2qR/JaXG7fMt/gGG67XitvSKIKTTdMS9qO6/lFusOJuEctXCQ3PgfFfot2ib5G4XC53qRTTMXtLFs2THw1pRzTZScyXm/USU83umVOHK4CKfGNx0NCbm5myhkDXV9310i2WgEAAA==")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 定义图标类名 */
.iconfont-calendar-check:before {
  content: "\f27e";
}

.iconfont-graduation-cap:before {
  content: "\e61e";
}

.iconfont-qizhi-:before {
  content: "\e60a";
}

.iconfont-mountain:before {
  content: "\e600";
}

.iconfont-lishi:before {
  content: "\e7ce";
}

.iconfont-book:before {
  content: "\e716";
}

.iconfont-qrcode:before {
  content: "\e8b8";
}

.iconfont-running:before {
  content: "\e625";
}

.iconfont-geren:before {
  content: "\e670";
}

.iconfont-faxian1:before {
  content: "\e621";
}

.iconfont-message:before {
  content: "\e8b1";
}

.iconfont-ticket:before {
  content: "\e623";
}
