@font-face {
  font-family: "iconfont";
  /* Project id 5119551 */
  src:
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAnMAAsAAAAAEfQAAAl9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACFJAqTRJADATYCJANACyIABCAFhGcHgVIbTQ8jEWacFEH2lwnaZXI+s0KNEouoS3CPFpTD5dJ6or+FOVHsbcwX7hgzlBKCWst6aIEDiBqwPBAKGXZRUQ5dFL589ZIoqF/fz9NpvQmKmdZBBS+VTNLtgs6fO8/sOiiVpsbS0YrVGQkAhG0go74d793rOpaqLDbCdE3LXhKu+ZfxR5Je7rOUwmMsRvA8NWBfAAF/rf3qX9yrLXokenl3923Z/bL3sUNU2reEWGMIhUwW93hDIpIZpjOdntBtYl19c+UQE22E245VW1gLfDEinoIAPFrJgDUwfa4IbHZX79sBLnAo5gqYDBa7mzeuBgvfgTZECxyrpT1Se4mzwAV5yroLwBl/v3iHGGEBSIyC4lqD69PWwcVR+PkEG5kQgPoK1PqcsLUEDKCAxj0rFD/NZZ+BPSKNTD2pJ4dzAErLJA48/c34qMeo96jvqP9o4Ojc0ZfRMNYbuz/eNt778wmTyeg9qNiKl9gcsLEwhMT4+7meJMDFIcKz/nkICwoawP9DewxP0BVgwxMuwIInDwEGnrwFhPDkKy/H/MHxwQLBUWBzwRFgK8GRYLsgIIBnAcdldh8CHHhp40RgvVDxuGf1MDwtNKGRpQANgGqmgjcowvZQJZZNFBNht0k0boVo/wEiK7SxsLYLbZ0qcX6dfbQD191ySexwni7tAS4+hW1MhrOzHWbt1lqZRymDgdbpAEVjmIKfm6cSYljHKvr+ZerKA+beJXTx7kZ06R7z4Ap1+T599yJIKaOR0ethxbXePazKIppTNEaCRG23CIK500G136ZvtsLi1bVpYl0a2ZLaYMAlqPUmjtO326mOO8yttoNFzf2dfuuqi5v8xaL8pr6ewI11Zc0B5FEco5SaJjlgNdIGpx8CBz0ibBktxqUeH7KhlRjXloPkS9fJaQGppISZqhq+WKJi+OkKdHRHd9y26saVrjPoJa9HBXyRXL1Lb6YRkKoiqkFQ1BK4uitxZ11L867OhNqANSKkF+sZidGIkUfl1X48rlWN0wG1gtmza6/TH46mfjwOUjMaDLtBdPlPm1Xj30UwgXU9gYFC9uEjylq6mndIXqxWE46MRlN6IBcXkSvFVmyx0Ugw4tWWIJHOq3GMMUJnOECnWy1eSGLEUS7VgNuc7hoO0uuPSlz3eaiAQsq1bg+lIqwZBYDkuNVBjgbVfdbb0MPUCGGbj1ZSLQMH1bOvCUCNvadpSfqbMQn4mFQabWuTYJqeYhwIKaWZ16FGZ2gEpWHUAKqf3dlANdD1E46Jq6JcieqJ4b4HGS31mH6IHq0T4fQgGlr0gQOukQG3d+JksyHhqVuX9FBf3nQt8FlVx/cXNeqTr7Lir1CMlBS1h5AScUGffuMRanhvj9Ho+RPTbsDPhg5bd9atbFqkm6lL+wX2idqfmp4Zw+Rt0nC0VTybFUisv2bAJIo0GO6RKy1+GPcqVwrzyrSJUqUQ4aighqkrogqvj5J/9JYlnBt4HYIApKipE0qsb2WOcf1euL0d3S84F1SzJwpOT9QyzcA2y/rUJUcvH5t8VtYsru+Nzv53zuwTx2cpCRo+J+cpgKzl3Qnfr0UGPHWc+evST9O1s7X9dXWwdbtfWPvM9rSZqdaaoX4nPp8+bf+Bacz+aeuu04m5FWvTktel+i84mpv/coF3mFfs2uWpDffiehR3pGszUK/13LPLmCtgxbFNBd8FpXuiCEX8IrQOHrTY+Ha4IdKDFqY0rsy6Mr0OJChY3MRf4gu7xZtgtGBV0MGgi1iDPcWrnruBK7r4EOfacdbVeQNvg0K50XHDPRW1QSJ9+V+FGs6DeZ+uwhu++26fkTQzI1e7OTuOu3lP3Iz5mJFou8s2sSu3uTnhTTzhit2+OKg4Q1RH3u42lbfU9Z3vhhTSLtfuIUFQZt+hOcSe3O/099/NefyzMKD9+mHH029TL7wfi5euqbTxLfS1eeMa6/XF66qJUYGL56das4CJvU8qCxbd/djo5AOvByf5LU872DxyQA6PbBwOfmuw1Mhkc+bAWM627QBjo6kLO3LX71uTsioxcVXKmnGCoKC/7T5y4clpq456Fgeq1h88n1FsTs/h/yyT3f0uGCQhjdZy3gDvbJwkNlYSh+IeJI872xjpJXSXbCTdZc9OkHSSLEE8mrR6zr/vpLpOjRe7pAbPhcwfLkV9Lhdd+op6xlGJrAxhfCZxtpUyQbKVPpm+2dPaJ0TXnB8+WSJbLzaoCySpPHztWQO37h32Adlt0MGFaOH1u039Yue+6DTXIneT2mmZO+snaewW/6y4w6dCCkT2IfNTs9b+NX3B/LTemvabs5vCPPK+VK9NaDl0+stPcH7ukoxbp4+1Hp6RXhy0uPdb122u0+KngvDww1VMzIL522rkazPSklYmJqxIhrSutclLRYlTbGbb3p3uefjBMtcaQtmtnkp8cHic7c5suyk2UKrQ5hWBeQEnTwbkBa54TBAU9PlXBD4WdpU7LIuscLCInF3VYDba5P9fNjnZ7NU86dW/LVgo5Fvh4pvl61Lhe7Hc8oy5/eofffz6PaAwjrfw1V/418LXfK8HU0e8+Q8FXwv+GF7Ik+KH/xCkPhD818L1QZYCSL3FU3acPG6E7ZQ8YSpbeEbEvshGpn+MYVsAoLrlLyZsLmtibASQ0tOwQzXqJTZF6CLNqtIKU8obZWwPxtGOlDVAHZtMQMaf4634aNJdaZv234L4I2j8V1VNMDf9s5187nodOD+1slr+8VWXGTDo/nGXNkCi/y5cupLSwGOaTE4Ak9eWmoDAUtom8cpp8Gtblc4rYhl7JBNxKnoPS2wKsMKhHGn/emzwaccWDp3Yo4Fpx/tksAs2QlsCVPOphQUJaiyJuMGKhBtI+xuxIZsxbJHwH/YYF9Zn86ned+0+ITAmYvsprPRO0cq82DvUZQ7U1vyEFK01ivFgVO88Roe0in3im54wK6HIF+LIvR7muReBfIqSB4Y5bIZDJe0zkL6o7BMC97MmwvYzr5XeqdG5+vPuUJc5kBI9qRRtiRYvjA2MFOiYOpXbPRkZ3/QEk6pElxB1FMKRD0Zyr80LQW5JUSZlA2aJlrAxLEdTWjrYvqW42Sm3ncfi3ZIsRdV0w7Rs4bieL9vr5F4CX5cPaQX0Icc96EcDAXellVkgjBETphK7EnJ0CVBfGpRZVxMk5UIa9yWE1s5+GdvvbPelY7CumdtobGPrfdbakfQJtql0zjrd1Ejo2go+LLhxe/vKW0Bji7dUi1ypAAAA') format('woff2'),
    url('//at.alicdn.com/t/c/font_5119551_p7wu2tf5ni.woff?t=1769862027725') format('woff'),
    url('//at.alicdn.com/t/c/font_5119551_p7wu2tf5ni.ttf?t=1769862027725') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-location:before {
  content: "\e64c";
}

.iconfont-people:before {
  content: "\e65f";
}

.iconfont-a-shapequickpressedtrue:before {
  content: "\e627";
}

.iconfont-calendar-check:before {
  content: "\f27e";
}

.iconfont-graduation-cap:before {
  content: "\e61e";
}

.iconfont-qizhi-:before {
  content: "\e60a";
}

.iconfont-mountain:before {
  content: "\e600";
}

.iconfont-lishi:before {
  content: "\e7ce";
}

.iconfont-book:before {
  content: "\e716";
}

.iconfont-qrcode:before {
  content: "\e8b8";
}

.iconfont-running:before {
  content: "\e625";
}

.iconfont-geren:before {
  content: "\e670";
}

.iconfont-faxian1:before {
  content: "\e621";
}

.iconfont-message:before {
  content: "\e8b1";
}

.iconfont-ticket:before {
  content: "\e623";
}